* {
  font-family: Trebuchet MS, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  color: #cacaca;
}
body {
  padding: 0;
  margin: 0;
  background-color: #151515;
}
.app {
  width: 97%;
  max-width: 990px;
  margin: 0 auto;
  min-height: 100vh;
}
.search-result {
  padding-bottom: 80px;
  scroll-behavior: smooth;
}
.chat-item {
  display: flex;
  flex-direction: column;
}
.chat-item.user {
  align-items: flex-end;
  text-align: right;
}
.answer {
  max-width: 90%;
  padding: 0 0.7rem;
  border-radius: 6px;
  margin-top: 0.4rem;
  text-align: justify;
  border: 1px solid rgba(202, 202, 202, 0.06);
}
.answer ul {
  list-style-position: inside;
  padding: 0;
}
.bottom {
  background-color: #181818;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.bottom_content {
  width: 97%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  max-width: 760px;
}
.bottom_p {
  margin: 6px 0;
}
.surprise {
  border-radius: 5px;
  padding: 2px 8px;
  margin-left: 5px;
  border: solid 1px rgba(202, 202, 202, 0.06);
  cursor: pointer;
  background-color: #1c1c1c;
}
.surprise:hover:not(:disabled) {
  border-color: rgba(202, 202, 202, 0.1);
}
.input-container {
  width: 100%;
  display: flex;
  border: solid 1px rgba(202, 202, 202, 0.06);
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
  overflow: hidden;
}
.input-container:focus-within {
  border-color: rgba(202, 202, 202, 0.1);
}
.input-container textarea {
  border: none;
  padding: 8px 12px;
  box-sizing: border-box;
  outline: none;
  flex: 1;
  background-color: #1c1c1c;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: #888 #252525;
}
.input-container input:disabled {
  color: #5a5a5a;
}
.input-container button {
  border: none;
  padding: 0 0.8rem;
  border-left: 1px solid rgba(202, 202, 202, 0.06);
  cursor: pointer;
  background-color: #1c1c1c;
}
.input-container button:active {
  background-color: #cacaca;
}
.input-container button:disabled {
  color: #7c7c7c;
}
.error-text {
  color: #ff2a2a;
  font-size: 0.8rem;
}
@media (min-width: 764px) {
  * {
    font-size: 16px;
  }
  .search-result {
    padding-bottom: 90px;
  }
}
